/* Para o div principal */
.div-principal {
  margin-bottom: 1rem;
  /* mb-4 */
}

.margem-b-4 {
  margin-bottom: 1rem;
  /* mb-4 */
}

/* Para o título h1 */
.titulo {
  display: block;
  /* block */
  color: #4a5568;
  /* text-gray-700 */
  font-size: 0.875rem;
  /* text-sm */
  font-weight: bold;
  /* font-bold */
  margin-bottom: 0.5rem;
  /* mb-2 */
}

/* Para o label */
.rotulo {
  display: block;
  /* block */
  color: #4a5568;
  /* text-gray-700 */
  font-size: 0.875rem;
  /* text-sm */
  font-weight: bold;
  /* font-bold */
  margin-bottom: 0.5rem;
  /* mb-2 */
}

/* Para o input */
.campo {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  /* shadow */
  /* border */
  border-radius: 0.25rem;
  /* rounded */
  width: 100%;
  /* w-full */
  padding: 0.5rem 0.75rem;
  /* py-2 px-3 */
  color: #4a5568;
  /* text-gray-700 */
  line-height: 1.25;
  /* leading-tight */
  outline: none;
  /* focus:outline-none */
  /* box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5); */
  /* focus:shadow-outline */
  /* transition: box-shadow 0.15s ease-in-out; */
  /* transition for focus */
}

/* Para o botão */
.botao {
  background-color: #4299E1;
  /* bg-blue-500 */
  color: white;
  /* text-white */
  font-weight: bold;
  /* font-bold */
  padding: 0.5rem 1rem;
  /* py-2 px-4 */
  border-radius: 0.25rem;
  /* rounded */
  outline: none;
  /* focus:outline-none */
  /* focus:shadow-outline */
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  /* transition for hover and focus */
}

.botao:hover {
  background-color: #2B6CB0;
  /* hover:bg-blue-700 */
}

.botao:focus {
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
  /* focus:shadow-outline */
}

/* Para o parágrafo de erro */
.paragrafo-erro {
  color: #f56565;
  /* text-red-500 */
  font-size: 0.75rem;
  /* text-xs */
  font-style: italic;
  /* italic */
}